<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <partial name="_MetaTags" />
    <!-- CSS Styles -->
    <partial name="_Style" />
    <!-- /CSS Styles -->
</head>
<body>
    <!-- Header -->
    <partial name="_Header" />
    <!-- /Header -->
    <!-- Promo Images -->
    @RenderBody()
    <!-- /Promo Images -->
    <!-- Footer -->
    <partial name="_Footer" />
    <!-- /Footer -->
    <!-- Copyright -->
    <partial name="_Copyright" />
    <!-- Copyright -->
    <!-- Scripts -->
    <partial name="_Scripts" />
    <!-- /Scripts -->
</body>
</html>