@model AccaptFullyVersion.Core.DTOs.ShowProductListItemViewModel

<div class="col">
    <!-- Product Box -->
    <div class="encode4326654321vfb">
        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p400.png')"></div></a>
        <div class="icons">
            <div class="btn btn-outline-secondary encode43243d"></div>
            <div class="btn btn-outline-secondary encode43bf243d"></div>
        </div>
        <div class="details p-3">
            <div class="category">
                <a href="products.html">@Model.ProductName</a>
                &nbsp;/&nbsp;
                <a href="products.html">@Model.ProductName</a>
            </div>
            <a href="product.html"><h2>@Model.ProductId</h2></a>
            <div class="encode4365gbf265g43d">@Model.ProductPrice</div>
            <div class="rate">
                <i class="fa fa-star-half-alt"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span class="encode43bf265g43d">(14 رای دهنده)</span>
            </div>
        </div>
    </div>
    <!-- /Product Box -->
</div>